---
layout: default
ref: index
lang: ru
---

<div class="home">

  <h1 class="page-heading">Страницы:</h1>
  <ul class="post-list">
    {% for item in site.info %}
      <h2><a class="post-link" href="{{ item.url }}">{{ item.title }}</a></h2>
      <p>{{ item.description }}</p>
    {% endfor %}
  </ul>

  <h1 class="page-heading">Посты:</h1>
  <ul class="post-list">
    {% comment }{% # assign pageslist=site.info | where:"lang", page.lang %}
    {% endcomment %}
    {% for post in posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">Подписаться через <a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></p>

</div>
